/* Container for the custom compass image */
.compass-container {
    position: absolute;
    top: 160px;  
    right: 50px; 
    z-index: 1000;  
}

/* Style for the custom compass image */
.compass-img {
    width: 60px;   /* Adjust size here */
    height: 60px;  /* Adjust size here */
}

#compass img {
    width: 175%;  /* Ensures image scales to fill the container */
    height: 175%;
}

/* Legend styling */
.info.legend {
    background-color: white;
    padding: 6px 8px;
    font: 14px Arial, sans-serif;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    line-height: 24px;
    color: #555;
}

.info.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
    border: 1px solid #999;
}
