html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/*Controls the look of the resource page*/
.resources-page {
  background-color: lightgray;
  min-height: 100vh;
  padding: 20px;
}

/*customizes the accordion buttons on resource page */
.accordion-button {
  font-size: 1.5rem; /* Makes text larger*/
  padding: 15px 20px; /*Adjust vertical & horizontal padding*/
  height: 60px; /*Increases button height*/
}

/*CSS Code for Accessibility Font */

/* High Contrast Mode */
.high-contrast {
  background-color: black;
  color: yellow;
}

/* Accessibility Container */
.accessibility-container {
  position: fixed;
  top: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Style for Buttons */
.accessibility-container button {
  margin-left: 5px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}
