@model project_wildfire_web.Models.DTO.UserLocationDTO

@using project_wildfire_web.Areas.Identity.Pages.Account.Manage

<div class="modal fade" id="dialogModal" tabindex="-1" aria-labelledby="dialogModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body pt-0" id="dialogModalBody">
        <div class="container">
            @* <form>
                <div class="form-group">
                    <div class="row"></div>
                    <!-- Title -->
                        <label for="titleInput">Title</label>
                        <input id="titleInput" class="form-control" type="text">
                    </div>
                    <div class="row"></div>
                        <!-- Address  -->
                    </div>
                    <div class="row"></div>
                        <!-- Lat & Lng  -->
                        <div class="col">
                            <!-- Latitude  -->
                        </div>
                        <div class="col">
                            <!-- Longitude  -->
                    </div>
                    <div class="row"></div>
                        <!-- Save & Cancel  -->
                        <div class="col">
                            <!-- Save -->
                        </div>
                        <div class="col">
                            <!-- Cancel -->
                        <div>
                    </div>   
                </div>
            </form> *@
        </div>
      </div>
    </div>
  </div>
</div>