@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!-- Map Container -->
<div id="map" style="height: 500px; width: 100%; margin-top: 20px;"></div>

<!-- Include Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

@section Scripts {
    <!-- Include Leaflet JS -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-compass/dist/leaflet-compass.min.js"></script>

    <!-- Include Geolet.js -->
    <script src="~/js/geolet.js"></script>
    
    <!-- Include External Map Script -->
    <script src="~/js/map.js"></script>

     <!-- Leaflet Compass CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-compass/dist/leaflet-compass.css" />
}