@{
    ViewData["Title"] = "Resources";
}

<div class="resources-page">
    <h2 class="text-center display-4">Welcome to our Resource page</h2>
    <p class="text-center">Here you will find useful links and information about fire safety, food pantries, and evacuation routes.</p>
</div>
