@page
@model SavedLocationModel

<h2>Saved Locations</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Latitude</th>
            <th>Longitude</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var location in Model.UserLocations)
    {
        <tr>
            <td>@location.Title</td>
            <td>@location.Latitude</td>
            <td>@location.Longitude</td>
        </tr>
    }
    </tbody>
</table>
