@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 mt-5">
            <div class="card">
                <div class="card-header text-center">
                    <h2>CREATE ACCOUNT</h2>
                </div>
                <div class="card-body">
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div class="row d-flex justify-content-center mt-3"> <!-- Name Row -->
                            <div class="col-2 d-flex justify-content-left align-items-center"><b>Name</b></div>
                            <div class="col-3 pt-3">
                                <input asp-for="Input.FirstName" class="form-control"/>
                                <small class="form-text text-muted">First</small>
                            </div>
                            <div class="col-3 pt-3">
                                <input asp-for="Input.LastName" class="form-control"/>
                                <small class="form-text text-muted">Last</small>
                            </div>
                        </div>
                        <div class="row justify-content-center mb-3">
                            <div class="col-8">
                                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                <span asp-validation-for="Input.LastName" class="text-danger"></span>
                            </div>
                            
                        </div>

                        <div class="row d-flex justify-content-center"> <!-- Email Row -->
                            <div class="col-2 d-flex justify-content-left align-items-center"><b>Email</b></div>
                            <div class="col-6 pt-3">
                                <input asp-for="Input.Email" class="form-control mb-3" autocomplete="username" aria-required="true" />
                            </div>
                        </div>
                        <div class="row justify-content-center mb-3">
                            <div class="col-8">
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                        </div>
                        @* 
                        <div class="row d-flex justify-content-center"> <!-- Phone Row -->
                            <div class="col-2 d-flex justify-content-left align-items-center"><b>Phone</b></div>
                            <div class="col-6 pt-3">
                        
                                <input class="form-control mb-3" aria-required="false" />
                        
                            </div>
                        </div>
                        *@
                        <div class="row d-flex justify-content-center"> <!-- Password Row -->
                            <div class="col-2 d-flex justify-content-left align-items-center"><b>Password</b></div>
                            <div class="col-6 pt-3">
                        
                                <input asp-for="Input.Password" class="form-control mb-3" autocomplete="new-password" aria-required="true" />
                                
                            </div>
                        </div>
                        <div class="row justify-content-center mb-3">
                            <div class="col-8">
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center"> <!-- Confirm Password Row -->
                            <div class="col-2 d-flex justify-content-left align-items-center"><b></b></div>
                            <div class="col-6 pt-3" >

                                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                                <label asp-for="Input.ConfirmPassword">
                                    <small class="form-text text-muted">Confirm Password</small>
                                </label>
                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                            </div>
                        </div>
                        <div class="row justify-content-center mb-3">
                            <div class="col-8">
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center"> <!-- Register Button Row -->
                            <div class="col-md-4 mt-5">
                                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                        <div class="row d-flex justify-content-center"> <!-- Link to login Row -->
                            <div class="col-md-5 mt-3">
                                <small>Already have an account? <a asp-area="Identity" asp-page="/Account/Login">Login here</a></small>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="row">
    <div class="col-md-6">
        
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
