@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 mt-5">
            <div class="card">
                <div class="card-header text-center">
                    <h2>CREATE ACCOUNT</h2>
                </div>
                <div class="card-body">
                    <div class="row d-flex justify-content-center mt-3">
                        <div class="col-8">
                            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">

                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                
                                <div class="row mb-3">
                                    <label asp-for="Input.FirstName" class="form-label">Name</label>
                                    <div class="col-md">
                                        <input asp-for="Input.FirstName" class="form-control" placeholder="First"/>
                                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                    </div>
                                
                                    <div class="col-md">
                                        <input asp-for="Input.LastName" class="form-control" placeholder="Last"/>
                                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                    </div>
                                    
                                </div>

                            
                                <div class="row mb-3">
                                    <div class="col">
                                        <label asp-for="Input.Email" class="form-label">Email</label>
                                        <input asp-for="Input.Email" class="form-control" aria-required="true" />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                </div>
                        
                                <div class="row mb-3">
                                    <div class="col">
                                        <label asp-for="Input.Password" class="form-label">Password</label>
                                        <input asp-for="Input.Password" class="form-control" aria-required="true" />
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row mb-5">
                                    <div class="col">
                                        <label asp-for="Input.ConfirmPassword" class="form-label">Confirm Password</label>
                                        <input asp-for="Input.ConfirmPassword" class="form-control" aria-required="true" />
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
            
                                <button id="registerSubmit" type="submit" class="w-100 mb-2 btn btn-lg btn-primary">Register</button>
                
                                <small>Already have an account? <a asp-area="Identity" asp-page="/Account/Login">Login here</a></small>
                
                            </form> 
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="row">
    <div class="col-md-6">
        
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
